.text-orange {
  color: #f2711c !important;
}

.bg-grey {
  background-color: #f2f2f2;
}

.bg-black {
  background-color: black;
}

#main-nav img {
  width: 12% !important;
}

#main-nav label {
  left: 8px;
}

#navbarCollapse a,
#heading a {
  margin-bottom: -36px;
  text-align: center;
  width: 100px;
  top: -18px;
  color: black !important;
  padding: 29px 15px 28px 15px;
}

#account {
  margin-top: 92px;
}

#account .btn {
  background-color: #f2711c;
  color: #fff;
}

#navbarCollapse a:hover,
#heading a:hover {
  text-decoration: none;
  color: #f2711c;
}

#lamp img#logo {
  width: 60%;
}

#lamp img {
  width: 100%;
}

#lamp .card-header {
  background-color: #f2f2f2;
  border-bottom: 0;
}

#lamp .card:hover {
  margin-top: -5px;
}

#lamp-details small {
  background-color: #e8e8e8;
  color: #00000099;
  font-size: 11px;
  padding: 5px;
  font-weight: bold;
}

#lamp-details .input-group-append .input-group-text {
  background-color: #f2711c;
  color: #fff;
}

#cart img {
  width: 20%;
}

.manage-card {
  margin-top: -21%;
  margin-left: 23%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  content: '\f186';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  margin-bottom: 6px;
}

input + .slider:before {
  content: '\f185';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #fff908;
  font-size: 25px;
  margin-bottom: 6px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f1f1f1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 1140px) {
  .container {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }
}

@media (min-width: 796px) {
  #navbarCollapse a.active,
  #heading a.active {
    width: 200px;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
  }

  #navbarCollapse a.active:after,
  #heading a.active:after {
    content: '';
    border-color: #f2f2f2 transparent transparent transparent;
    border-style: solid;
    border-width: 12px;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -24px;
    left: 37%;
  }
  #navbarCollapse a.active {
    background-color: #f2f2f2;
    margin-bottom: -36px;
    text-align: center;
    top: 0 !important;
    width: 100px;
    top: -18px;
    color: #f2711c !important;
  }

  #heading a.active {
    background-color: #f2f2f2;
    margin-bottom: -36px;
    text-align: center;
    top: 0 !important;
    width: 100px;
    top: -18px;
    color: #f2711c !important;
    padding-bottom: 25px;
  }
}

.pageLoader {
  position: fixed;
  z-index: 999;
  height: 100px;
  width: 100px;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
