//Basic color
$white: #ffffff;
$orange: #f2711c;
$light-grey: #f2f2f2;
$black: #000;
$grey: #ccc;
$yellow: #fff908;
// Fonts
// Basic font size

$e-small-f-size: 10px;
$small-f-size: 12px;
$base-f-size: 14px;
$medium-f-size: 16px;
$large-f-size: 18px;
$extra-large-f-size: 25px;

//  Font Weight
$font-w-300: 300;
$font-w-400: 400;
$font-w-700: 700;
$font-w-900: 900;

//  Font family
$primary-font-family: 'Poppins', sans-serif;
